---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('service')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      ul li a:hover h4,
      ul li a:hover .date {
        color: rgb(var(--accent));
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }

      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
      }

      .center {
        margin-left: auto;
        margin-right: auto;
        width: 34%;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h2>🙋🏻‍♂️Welcome to my Portfolio!</h2>
      <section>
        <ul>
          {
            posts.map(post => (
              <li>
                <a href={`/service/${post.slug}/`}>
                  <img width={300} height={360} src={post.data.heroImage} alt="" />
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
                <br />
                <hr />
              </li>
            ))
          }
        </ul>
        <!-- <br />
        <br />
        <br />
        <hr /> -->
        <!-- <div>
          <br />
          <h4 style="display: flex;
          align-items: center;
          justify-content: center;">Companies That Trusted My Work</h4>
          <br />
          <marquee style="margin-left:10px" behavior="scroll" direction="left" scrollamount="10 " vspace="5%">
            <img style="margin-left: auto;
            margin-right: auto;" src="claro-logo.png" width="250" height="250" alt="Claro logo" />
            <img
              style="margin-left: auto;
            margin-right: auto;"
              src="banco-bolivariano-logo.png"
              width="230"
              height="230"
              alt="Banco Boliviariano logo"
            />
            <img
              style="margin-left: 10px;
            margin-right: 10px; margin-bottom:20px"
              src="alfanet-logo.png"
              width="330"
              height="330"
              alt="Alfanet logo"
            />
            <img
              style="margin-left: 10px;
            margin-right: 10px; margin-bottom:20px"
              src="eclipsoft-logo.jpeg"
              width="220"
              height="220"
              alt="Eclipsoft logo"
            />
            <img
              style="margin-left: 50px;
            margin-right: 30px; margin-bottom:20px"
              src="directv-logo.png"
              width="250"
              height="250"
              alt="DirecTv logo"
            />
          </marquee>
        </div> -->
      </section>
    </main>
    <Footer />
  </body>
</html>
